
<div class="container-fluid  text-center bg-danger">
  <br></br>
  <h3>{{persona.nombres}} {{persona.apellidos}}</h3>
  <img src="/gif/gayy.gif" class="img-circle"/>
  <h3>Descripcion: {{persona.descripcion}}</h3>
  <a href="/" class="btn btn-primary">Volver</a>
  <br></br>
</div>


